body {
    background-color: aliceblue;
    font-family: 'Press Start 2P', cursive;
}

body.login-page{
    background-color: aqua;
}

.flexbox-container{
    display: flex;

}

.login-container{
    align-items: center;
    justify-content: center;
    height: 80vh;
    
}

.login-array{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    text-align: center;
}

.login-button{
    border-radius: 8px;
    height: 40px;
    width: 25%;
    background-color: #fffbed;
    color: #3c7f72;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    justify-content: left;
}

.input-label {
    position: relative;
    width: 100%;
    color: #3c7f72;
  }
  

.input-label i.left {
position: absolute;
left: 10px;
top: 35%;
line-height: 0;
color: #3c7f72;
font-size: 20px;
}

.input-label i.right {
position: absolute;
right: 10px;
top: 35%;
line-height: 0;
color: #3c7f72;
font-size: 20px;
}
  