
.search-form {
    padding-bottom: 40px;
    display: flex;
    justify-content: center; 
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.search-form label{
    font-size: large;
}
.search-form input[type="text"] {
    width: 200px; 
    padding: 8px;
    border-radius: 8px;
    margin-left: 10px;
    transition: border-color 0.3s ease; 
    border: 2px solid #ccc;
    box-sizing: border-box;
}
