body{
    background-color: #E0F5F3;
}


.btn-container{
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 20px;

    /* Border */
    border-radius: 20px;
}

h1{
    padding: 10px;
    margin-top: 20px;
}

/* Selected Book */
.description{
    margin: 20px;
}

.confirm-or-reject{
    margin: 10px;
    width: 150px;
    height: 55px;
    border-radius: 20px;
}

.selected-book{
    border-radius: 20px;
    padding: 15px;
    background-color: antiquewhite;
}

.book-card {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Source Sans Pro", Arial, sans-serif;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20   px;
    overflow: hidden;
    background-color: antiquewhite;
  } 
  
  /* Set a fixed height for the book cards */
  .book-card img {
    max-height: 200px; /* Adjust as needed */
  }
  