.book-card {
    max-width: 300px;
    height: 350px; /* Adjust max-width for a larger card */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Source Sans Pro",Arial,sans-serif;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: antiquewhite;
    border: none; /* Removes the border */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);

}

.book-card:hover{
    cursor: pointer;
    scale: 1.05;
    opacity: 1.1;
    transition: 0.2s;
}

.image-frame {
    width: 100%; 
    height: 200px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
  }
.book-card .image-frame img {
    width: 50%; 
    height: auto; 
    border-radius: 10px;
}

.book-card .info {
    padding: 10px; /* Adjust padding to your liking */
  }
  
  .book-card .info .title p{
    margin: 0; /* Removes default paragraph margin */
    font-weight: bold; /* Optional: if you want the title to be bold */
    font-style: italic;
  }
  
  .book-card .info .author p{
    margin: 0; /* Removes default paragraph margin */
    /* Optional: styles the author text color */
    color: #003366;
  }
  


.book-card .info .rating {
    color: gold; 
    font-size: 1rem; 
    margin-bottom: 8px; 
}
  
  @media (max-width: 768px) {
    .books-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .book-card {
        width: 100px; /* Adjust width on smaller screens */
    }
}
