.book-card {
    max-width: 240px;
    height: 550px; /* Adjust max-width for a larger card */
    display: flex;
    flex-direction: column;
    font-family: "Source Sans Pro",Arial,sans-serif;
    background-color: aliceblue;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
}
 
.book-card img {
    width: 100%; /* Full width of the card */
    height: 280px; /* Adjust height automatically */
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px; /* Rounded corners for images */
  }

.book-card .info{
    padding-top: 10px;
}
.book-card .title,
.book-card .author,
.book-card .genre {
    width: 100%; /* Ensures text does not overflow the card width */
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Keeps text within the card bounds */
    text-overflow: ellipsis; /* Adds an ellipsis to text that overflows */
    margin-bottom: 4px; /* Spacing between text elements */
    line-height: 1.2; /* Adjust line height for better text fit and readability */
}
.book-card .genre {
    background-color: #fff; /* Background color for genre tags */
    padding: 2px 6px; /* Padding inside tags */
    border-radius: 2px; /* Rounded corners for tags */
    margin-right: 2px; /* Spacing between tags */
    display: inline-block; /* Allows multiple tags in a row */
    font-size: 0.75rem; /* Adjust font size for genre tags */
}
.book-card .rating {
    /* Style for star ratings, can be implemented with SVGs, icons, or Unicode stars */
    margin-bottom: 8px; /* Spacing below the rating */
}
  /* Add responsive design as needed with media queries */
  @media (max-width: 768px) {
    .books-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .book-card {
        width: 150px; /* Adjust width on smaller screens */
    }
}
